header {
  background-color: orange;
  width: 100%;
  background-image: url(../images/argyle.png);
}

.imageContainer {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.profileImage {
  height: auto;
  min-width: 200px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media only screen and (min-width: 832px) {

  .imageContainer {
    padding-top: 0;
  }

  header {
    max-width: 500px;
    margin-top: 4em;
    margin-left: 50px;
    margin-right: 50px;
    max-height: 400px;
  }

}