/* Navigation */
nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  color: #FFFFFF;
  padding-right: 1.5em;
  padding-left: 1.5em;
  background: none;
}

.nav p {
  display: flex;
  justify-content: flex-end;
}

.navRight {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.fa-angles-down {
  transition: 1s;
  color: red;
}

.fa-angles-down:hover {
  background-color: lightgray;
  border-radius: 5px;
  padding: 20px;
}

@media only screen and (min-width: 832px) {

  nav {
    background: initial;
    background-color: #4056A1;
  }
  
}